body{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-color: black;
    text-align: center;
}
button:focus {
    outline: none;
}
#container{
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
    border: 10px;
    border-radius: 20%;
    height: 517px;
    width: 400px;
    font-size: 40px;
}
#display{
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    align-self: center;
    text-align: end;
    font-size: larger;
    background-color: wheat;
    border: 5px solid black;
    height: 50px;
    width: 250px;
    border-radius: 5%;
    padding-right: 10px;
}
.button-row{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    height: 80px;
    width: 90px;
    border-radius: 100%;
}
